.idCard-list-container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #efeff4
  .header
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #edf0f4;
    box-shadow: 0 1px 6px #ccc;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5;
    h1
      font-size: 16px
      font-weight: 700;
    .cubeic-back
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 15px;
      color: #1c9ae7;
      font-size: 16px
  .wrapper
    height: calc(100% - 40px)
    overflow-x: hidden
    overflow-y: auto
    .add_btn
      margin 24px 0
      .card_btn
        width :55%
        margin :18px auto
        text-align center
        height 40px
        line-height 39px;
        border-radius:13px
        border:1px solid #1c9ae7
        color: #1c9ae7
        letter-spacing :1px;
        .card_txt
          display: inline-block
          font-size .75rem
        .icon-tianjia
          font-weight :600
    .number
      margin-top 20px
      display: flex
      background-color #fff
      padding :20px
      .item
        flex:1
        height 30px
        line-height 30px;
        .num
          display block
          width 75%
          margin :0 auto
          text-align center
          font-size 14px;
          color:#fff
          border-color:transparent;
          border-width:5px;
          border-radius 15px
          background-color:#c7140f
          border-bottom:1px solid #c7c7c7
        .wait
          display block
          width 75%
          margin :0 auto
          text-align center
          font-size 14px;
          color:#fff
          border-color:transparent;
          border-width:5px;
          border-radius 20px
          background-color:#1786cb
    .list
      padding 0 10px 30px 10px;
      background-color #fff
      .inner
        border-bottom:1px solid #c8c8c8;
        &:first-child
          border-top: 1px solid #c7c7c7
      .name
        float: left
        display block
        padding 26px 0 15px 20px;
        width 80px
        font-size 16px
        font-weight bold
        color:#11112b
        letter-spacing:2px
      .info
        float left;
        width auto
        padding 15px 0
        .mobile
          display block
          line-height 1.5
          font-size 15px
          font-weight bold
          color:#1b1730
        .idCard
          display :block
          line-height 1.5
          font-size:13px
          color:#969696
      .delete
        float right
        margin-top 12px;
        margin-right 4px;
        width 40px;
        text-align center
        height 40px;
        line-height 40px;
        //border: 1px solid #ddd
        font-size:14px;
        color:red;





