.calendar-handle{ height: 2.1rem; line-height: 2.1rem;}
.calendar-panel{ background-color: #fff; position: relative; padding-top: 2.5rem;}
.calendar-head{ text-align:center; font-size: 0.6rem; }
.calendar-head ul{padding:15px 10px;}
.calendar-head ul li{display:inline-block; margin: 0 0.25rem;}
.calendar-head ul li:nth-child(2){ float: left;}
.calendar-head ul li:nth-child(4){ float: right;}
.calendar-contnet{ overflow-y: auto;}
.calendar-contnet table{ border-collapse:collapse;}
.calendar-contnet table td,.calendar-contnet table th{padding:0.3rem 0;}
.calendar-contnet table th{ background-color: #e5e5e5; border-bottom:1px solid #eee; border-top:1px solid #eee; }
.calendar-contnet table td{ cursor: pointer; text-align: center; height: 32px; line-height: 140%; font-size: 0.6rem; width:14%;}
.calendar-contnet table td.today{ background-color:rgba(255,102,102,0.4); color: #fff;}
.calendar-contnet table td.weekend{ color: #149d34;}
.calendar-contnet table td.selected{ background-color:#f66; color: #fff;}
.calendar-contnet table td.selected .price strong{ color: #fff;}
.calendar-contnet table td.other{ color:#ccc; cursor: default;}
.calendar-contnet table td.selecteds{ background-color: rgba(255,102,102,0.7); color: #fff;}
.calendar-contnet table td p{ height: 0.75rem; line-height: 0.75rem; padding: 0.25rem 0;}
.calendar-contnet td.selected .price em{ color: #fff;}
.icon-angle-left:before{content: "\e61d";}
.icon-angle-right:before{content: "\e617";}
.calendar-day{ position:absolute; top:0; left: 0; width: 100%; overflow: hidden; background-color: #fff; border-bottom: 1px solid #eee;}
.calendar-day li{ display: block; width:14%; height: 2.1rem; line-height: 2.1rem; float: left; text-align: center; font-size: 0.6rem;}
.monthPrev{ transform:rotate(180deg); -webkit-transform: rotate(180deg);}
.calendar-explian .price strong{ font-size: 0.5rem;}
.calendar-contnet table td.selecteds .price strong,.calendar-contnet table td.selecteds .price em{ color: #fff;}
.calendar-colse{ text-align: right; display: block; color: #fff; padding: 0 0.75rem;}
.calendar-box{ position: fixed; width: 100%; height: 100%; background-color: #fff; top:0; left: 100%; transition: left 0.4s; z-index: 10000;}
.calendar-show{ left:0; }
.calendar-contnet table td.selected p{ color: #fff;}
.background-base {
  background-color: #f66;
}
